id = "{{ id }}"
display_name = "{{ display_name }}"
aliases = []
description = ""
pointer_skill = "sos-{{ id }}"
sync_policy = "clean-auto"

[paths]
vault_root = "{{ vault_root }}"

[[skills]]
name = ""
source_path = ""
vault_path = ""
origin = ""
enabled_before_apply = true
last_source_fingerprint = ""
last_vault_fingerprint = ""
last_synced_at = ""

[[triggers]]
term = ""
reason = ""
